.twelve.columns
.dossiers_canvas
  - unless dossiers.blank?
    - dossiers.each do |dossier|
      .dossierdetails
        .title= link_to dossier.title, dossier_path(dossier)
        .status= dossier.status
  - else
    / No data found
    = render("layouts/nodata")
