%li#contacts
  / Show all contacts for this dossier
  .dossierpage_large
    %h3.contact= I18n.t :contacts_all
    = render("contacts/all_contacts", :contacts => dossier_contacts, :layout => "small")
