:erb
  $('#content_output').empty();
  $('ul.tabs a').removeClass('active');
  $('#content_output').html("<div class='content_title note'></div><h3><%= I18n.t :notes_all %></h3><%= escape_javascript(render('notes/all_notes', :notes => @notes, :layout => 'normal')) %></div>");
  $('a#notes_tab').addClass('active');