- headers = %W(nummer groep naam type status website kvk bankrekening sector branch juridische vorm medewerkers telefoon fax email facebook twitter linkedin faktuuradres faktuurpostcode faktuurplaats faktuurland bezoekadres bezoekpostcode bezoekplaats bezoekland postadres postpostcode postplaats postland opmerkingen)
= CSV.generate_line headers
- @csv_relations.each do |relation|
  - row = [ relation.relation_nr,
  - relation.relationgroup,
  - relation.name,
  - relation.relation_type,
  - relation.status,
  - relation.website,
  - relation.kvk_nr,
  - relation.bankaccount,
  - relation.industry,
  - relation.branch,
  - relation.legal,
  - relation.nr_employees,
  - relation.telephone,
  - relation.fax,
  - relation.email,
  - relation.facebook,
  - relation.twitter,
  - relation.linkedin,
  - relation.billing_address,
  - relation.billing_zipcode,
  - relation.billing_city,
  - relation.billing_country,
  - relation.visit_address,
  - relation.visit_zipcode,
  - relation.visit_city,
  - relation.visit_country,
  - relation.post_address,
  - relation.post_zipcode,
  - relation.post_city,
  - relation.post_country,
  - relation.remarks,
  - relation.bankaccount]
  = CSV.generate_line(row).html_safe
