#action_bar.twelve.columns
  .action_button.mod
    = link_to I18n.t(:mod_claims_all),  claims_url

  / Show buttons for index
  - if view == 'index'
    .action_button.mod
      = link_to I18n.t(:mod_claims_new_title),  new_claim_url

  / Show buttons for show
  - if view == 'show'
    .action_button.mod
      = link_to I18n.t(:form_edit_button), edit_claim_url(@claim)
    .action_button.mod
      = link_to I18n.t(:form_delete_button), @claim, :method => :delete, :data => { :confirm => I18n.t(:sure) }
