/ Show the actionbar
= render 'actionbar', :view => 'new'

#contentblock.form.twelve.columns
  .content_title.mod
  %h3= I18n.t :mod_ins_new_title
  / Render the form for this insurance
  = render 'form'
  .clear
