/ Show title
.sixteen.columns
  .seven.columns
    = render('layouts/pagetitle', title: I18n.t(:dashboard_title), path: 'nosearch')

/ Show expiring insurances
#contentblock.twelve.columns
  .content_title.mod
  = render('layouts/pagetitle', title: I18n.t(:mod_ins_index_title), path: 'nosearch')

  .content.insurances_canvas
    = render('ins_insurances/insurances_overview')