:erb
  // Clear agreements canvas and reload all remaining agreements, based on where you are
  var url = $(location).attr('href');
  if (url.indexOf("contacts") > 0){
    // When on contact show page
    $('#content_output').empty();
    $('ul.tabs a').removeClass('active');
    $('#content_output').html("<div class='content_title agreement'></div><h3><%= I18n.t :agreement_all %></h3><%= escape_javascript(render('agreements/all_agreements', :agreements => @agreements, :layout => 'normal')) %></div>");
    $('a#agreements_tab').addClass('active');
  }
  else {
    // When on agreements index page
    $('.agreements_canvas').empty();
    $('.agreements_canvas').html("<%= escape_javascript(render('agreements/all_agreements', :agreements => @agreements, :layout => 'normal')) %>");
  }



