/* ============================== */
/* ! Mixins     							    */
/* ============================== */

@mixin rounded-corners {
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
@mixin rounded-corners-top {
	border-radius: 6px 6px 0px 0px;
	-moz-border-radius: 6px 6px 0px 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
}
@mixin rounded-corners-bottom {
	border-radius: 0px 0px 6px 6px;
	-moz-border-radius: 0px 0px 6px 6px;
	-webkit-border-radius: 0px 0px 6px 6px;
}
@mixin box-shadow {
	-moz-box-shadow: 7px 7px 5px #888;
	-webkit-box-shadow: 7px 7px 5px #888;
	box-shadow: 7px 7px 5px #888;
}
@mixin rotation($degrees) {
	-webkit-transform: rotate($degrees);
	-moz-transform: rotate($degrees);
	-ms-transform: rotate($degrees);
	-o-transform: rotate($degrees);
}
@mixin theme-layout {
  .general {
  	background: $general_light;
		border-bottom: 4px solid $general_dark;
	}
	.relation {
  	background: $relation_light;
		border-bottom: 4px solid $relation_dark;
	}
	.contact {
  	background: $contact_light;
		border-bottom: 4px solid $contact_dark;
	}
	.note {
  	background: $note_light;
		border-bottom: 4px solid $note_dark;
	}
	.task {
  	background: $task_light;
		border-bottom: 4px solid $task_dark;
	}
	.agreement {
  	background: $agreement_light;
		border-bottom: 4px solid $agreement_dark;
	}
	.mod {
  	background: $mod_light;
		border-bottom: 4px solid $mod_dark;
	}
}
@mixin theme-button {
  .general {
  	background: $general_light;
  	border: 2px solid $general_dark;
	}
	.relation {
  	background: $relation_light;
  	border: 2px solid $relation_dark;
	}
  .contact {
  	background: $contact_light;
  	border: 2px solid $contact_dark;
	}
  .note {
  	background: $note_light;
  	border: 2px solid $note_dark;
	}
  .task {
  	background: $task_light;
  	border: 2px solid $task_dark;
	}
  .agreement {
  	background: $agreement_light;
  	border: 2px solid $agreement_dark;
	}
  .mod {
  	background: $mod_light;
  	border: 2px solid $mod_dark;
	}
}
@mixin theme-sidebar {
	li#general {
  	border-bottom: 3px solid $general_light;
	}
	li#relation {
  	border-bottom: 3px solid $relation_light;
	}
	li#contact {
  	border-bottom: 3px solid $contact_light;
	}
	li#note {
  	border-bottom: 3px solid $note_light;
	}
	li#task {
  	border-bottom: 3px solid $task_light;
	}
	li#agreement {
  	border-bottom: 3px solid $agreement_light;
	}
	li#mod {
  	border-bottom: 3px solid $mod_light;
	}
}
@mixin content-title {
	.content_title {
		height: 30px;
		@include rounded-corners-top;
	}
}
@mixin two-columns {
	.formcolumn {
		width: 40%;
	}
	.left {
		float: left;
		margin-left: 20px;
	}
	.right {
		float: right;
	}
}
@mixin vcard_text {
	font: 12px $basefont;
	color: #67675b;
	font-weight: normal;
}
